@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    mak27arr@gmail.com<br />
    Ternopil,UA<br />
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mak27arr@gmail.com">mak27arr@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mak27arr@gmail.com">mak27arr@gmail.com</a>
</address>