@{
    ViewBag.Title = "Register Page";
}

        <div>
            <div>
                @if (ViewData["ResultCode"]?.ToString() == "-1")
                {
                    <div class="alert alert-danger">Error! @ViewData["Msg"]</div>;
                }
                @if (ViewData["ResultCode"]?.ToString() == "1")
                {
                    <div class="alert alert-success">Success! @ViewData["Msg"]</div>;
                }
                <!-- Login Form -->
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <span>
                        <table border="0" class="border border-dark justify-content-center mx-auto">
                            <tbody class="w-50">
                                <tr>
                                    <td>
                                        Username:<br>
                                        <input type="text" id="login" class="fadeIn second" name="login" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Password:<br>
                                        <input type="text" id="password" class="fadeIn third" name="password" placeholder="">
                                    </td>
                                </tr>
                                <tr><td align="center"><input type="submit" class="fadeIn fourth" value="Submit"></td></tr>
                            </tbody>
                        </table>
                    </span>
                }
            </div>
        </div>